form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

}

#sub1 {
    width: 30%;
    margin: auto;
    color: blueviolet;
    background-color: blanchedalmond;


}

#sub1:hover {
    background-color: black;
    color: aliceblue;
}

#nome1 {

    border-radius: 5px;
}

#email1 {
    border-radius: 5px;
}

#nome1:focus {
    border-style: none;
    outline: 0;
}